:root {
    --color-1: #02687E; /* Deep teal-blue */
    --color-2: #BAD8C9; /* Soft mint green */
    --color-3: #6CC239; /* Vibrant lime green */
    --color-4: #155257; /* Dark teal */
    --color-5: #249B4E; /* Medium green */
    --color-6: #10ADAF; /* Aqua / cyan */
    --medium-jungle: #14AD5Fff;
    --white: #FFFFFFff;
    --black: #010100ff;
    --alabaster-grey: #D9E0E5ff;
    --powder-blue: #A2B7C5ff;
}

